<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    data-bs-whatever="@mdo">Novo produto</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro de produto </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nome" class="col-form-label">Nome:</label>
                        <input [(ngModel)]="nome" name="nome" type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Preço:</label>
                        <input [(ngModel)]="preco" name="preco" type="text" class="form-control" id="preco">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="imagem">Imagem:</label>
                        <input [(ngModel)]="imagem" name="imagem" type="file" class="form-control" id="imagem" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" (click)="cadastrarProduto()" [disabled]="loading">Salvar</button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>