<main class="container mt-4 mb-80">
    <div class="text-center">
        <h2 class="text-primary">Blue &emsp; <label class="text-secondary"> Modas</label></h2>
    </div>
    <div class="row g-0 text-start text-secondary justify-content-center">
        <div class="col">
            <div class="row py-1 ">
                <div class="col text-start">
                    <h3>Produtos</h3>
                </div>
                <div class="col text-end">
                    <a href="" class="btn btn-sm btn-warning">
                        <img src="assets/icons/shop-window.svg" aria-label="finalizar-compra" width="20" height="20">
                        visualizar loja
                    </a>
                </div>
            </div>
            <hr>
            <app-produto-cadastro #produtoCadastroComponent (refreshEvent)="handleRefreshEvent($event)"></app-produto-cadastro>
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col" class="text-center text-secondary">Ações</th>
                        <th scope="col" class="text-center text-secondary">ID</th>
                        <th scope="col" class="text-star text-secondary">Nome</th>
                        <th scope="col" class="text-end text-secondary">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of produtos">
                        <th class="text-center">
                            <div class="row g-0 ">
                                <div class="col">
                                    <a class="btn" aria-label="editar-item" (click)="editarItem(produto)">
                                        <img src="assets/icons/pencil-fill.svg" alt="editar-item" width="16"
                                            height="20">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="btn" aria-label="deletar-item" (click)="deletarItem(produto.produtoId)">
                                        <img src="assets/icons/x-circle.svg" alt="deletar-item" width="16" height="16">
                                    </a>
                                </div>
                            </div>
                        </th>
                        <td class="text-center">
                            <small>
                                {{produto.produtoId}}
                            </small>
                        </td>
                        <td>
                            <small>
                                {{produto.nomeProduto}}
                            </small>
                        </td>
                        <td class="text-end">{{produto.precoProduto | currency :'BRL':'symbol':'1.2-2':'pt'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>