<app-menu [totalItensCarrinho]="totalItensCarrinho"></app-menu>
<main class="container mt-80 mb-80">
    <div class="row g-0 text-start text-secondary justify-content-center">
        <div class="col">
            <div class="py-2 text-center">
                <h2>Resumo</h2>

            </div>
            <hr>
            <div class="col-6 col-lg-12">
                <div class="row g-0 ">
                    <h4 class="col mb-3">Pedido {{cesta?.cestaCompraId}}</h4>
                    <h4 class="col text-end">
                        Total <span class="text-info">{{cesta?.valorTotal | currency :'BRL':'symbol':'1.2-2':'pt'}}</span>
                    </h4>
                </div>
                <hr>
                <div>
                    Nome: <strong>{{cesta?.cliente.nomeCliente}}</strong>
                </div>
                <div>
                    E-mail: <strong>{{cesta?.cliente.email}}</strong>
                </div>
                <div>
                    Telefone: <strong>{{cesta?.cliente.telefone}}</strong>
                </div>
                <hr>
                <div class="row g-0 text-secondary">
                    <div class="col-md-6 col-sm-1 col-xs-1 text-start pe-3">
                        <span>Produto</span>
                    </div>
                    <div class="col-md-2 col-sm-1 col-xs-1 text-center">
                        <span>Qtd</span>
                    </div>
                    <div class="col-md-2 col-sm-1 col-xs-1 text-end">
                        <span>Vlr Unitário</span>
                    </div>
                    <div class="col-md-2 col-sm-1 col-xs-1 text-end pe-3">
                        <span>Vlr Total</span>
                    </div>
                </div>
            </div>
            <div class="row g-0 border-bottom bg-light align-items-center" *ngFor="let item of cesta?.itens">
                <div class="col-md-1 col-sm-1 col-xs-1 ">
                    <img src="{{item.produto.urlImage}}" alt="{{item.produto.nomeProduto}}" height="100" />
                </div>
                <div class="col-md-5 col-sm-1 col-xs-1 text-start ">
                    {{item.produto.nomeProduto}}
                </div>
                <div class="col-md-2 col-sm-1 col-xs-1 text-center ">
                    {{item.quantidade}}
                </div>
                <div class="col-md-2 col-sm-1 col-xs-1 text-end pe-3 center">
                    <span class="card-text text-secondary">
                        <strong>
                            {{item.produto.precoProduto | currency :'BRL':'symbol':'1.2-2':'pt'}}
                        </strong>
                    </span>
                </div>
                <div class="col-md-2 col-sm-1 col-xs-1 text-end pe-3 center">
                    <span class="card-text text-secondary">
                        <strong>
                            {{item.valorUnitario * item.quantidade | currency :'BRL':'symbol':'1.2-2':'pt'}}
                        </strong>
                    </span>
                </div>
            </div>
            <div class="row justify-content-end g-0">
                <div class="col-5">
                    <hr>
                    <div class="row">
                        <div class="col text-secondary">
                            <label>{{qtdItensResumo}} Produtos</label>
                        </div>
                        <div class="col text-end pe-4 text-secondary">
                            {{cesta?.valorTotal | currency :'BRL':'symbol':'1.2-2':'pt'}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-secondary">
                            <h4>Total</h4>
                        </div>
                        <div class="col text-end pe-4 text-info">
                            <h4>
                                {{cesta?.valorTotal | currency :'BRL':'symbol':'1.2-2':'pt'}}</h4>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="d-grid gap-2 col">
                            <button type="button" class="btn btn-success" [routerLink]="['/home']">
                                Voltar aos itens
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>