.footer {
    text-align: start;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.mt-80 {
    margin-top: 80px!important;
}

.mb-80 {
    margin-bottom: 15%!important;
}